@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(6, 12, 61);
  color: white;
}

.sidebar-content {
  max-height: calc(100vh - 32px);
}

.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
