services:
  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    networks:
      - app-network
    depends_on:
      - server

  server:
    build:
      context: ./server
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
